html {
    background-color: #1a1a1a;
    background-image: repeating-linear-gradient(45deg,
    transparent 0px,
    transparent 4px,
    rgba(0,0,0,0.8) 4px,
    rgba(0,0,0,0.8) 8px);
    font-family: sans-serif;
}

body {
    
    color: rgba(0, 0, 0, 0.795);
    margin:0 auto;
    width: 100%;
    max-width:80ch;
    padding: 1rem;
    line-height:1.5;
}

* {
    box-sizing:border-box;
}


h1{
    margin:1rem 0;
    font-size: 2.5rem;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    perspective: 1000px;
}

.card{
    position: relative;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
    border-width: 10px;
    padding: 180px 280px;
    transition: box-shadow 0.3s ease;
}

.cardh1{
    font-size: 30px;
    text-align: 10px;
    position:absolute;
    top:2px;
    left:50%;
    transform: translate(-50%,50%);
    margin:0;
}

.card::before,
.card::after{
    content: "";
    position:absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    opacity: .5;
    mix-blend-mode: color-dodge;
    transition: all .33s ease;
}


.card:hover{
    border-color: rgb(255, 255, 255);
    box-shadow:
        0 0 10px 10px rgba(255, 255, 255, 0.3),
        0 0 20px 10px rgba(255, 255, 255, 0.5),
        0 0 40px 20px rgba(255, 255, 255, 0.8);
}

@media screen and (max-width:636px) {
    .card{
        position: relative;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(3px);
        border-width: 10px;
        border: solid rgba(255,255,255,0);
        padding: 100px 150px;
        transition: box-shadow 0.3s ease;
    }
    .card:hover{
    border-color: rgb(255, 255, 255);
    box-shadow:
        0 0 10px 2px rgba(255, 255, 255, 0.3),
        0 0 15px 10px rgba(255, 255, 255, 0.5),
        0 0 30px 20px rgba(255, 255, 255, 0.8);
    }
}