---
const pagetitle = "我是谁？";

const nextstep = ["更多交互","更多动态画面","引入CSS"];

const nextStepColor = "blue";

const fontWeight = "bold"

import '../styles/global.css'
import Footer from '../components/Footer.astro';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pagetitle}</title>
        <style define:vars={{nextStepColor,fontWeight}} >
            .nextstep {
                color:var(--nextStepColor);
                font-weight: var(--fontWeight);
            }
        </style>
	</head>
	<body>
		<h1>{pagetitle}</h1>
        <h2>Cry5t4lJ4d3</h2>
        <hr>
        <h4>这是我的第一个网站</h4>
        <p>我正在进行网站搭建的学习</p>
        <hr>
        <p>网站的下一步:</p>
        <ul>
            {nextstep.map((nextstep) => <li class="nextstep">{nextstep}</li>)}
        </ul>
        <Footer />
	</body>
</html>
