---
import '../styles/global.css'
import MainCardAstroComponent from '../components/mainCard.astro'
---

<html lang="zh-cn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>mainCard</title>
	</head>
	<body>
		<MainCardAstroComponent />
		<script>
			import "../scripts/menu.js"
			import "../scripts/cardanimation.js"
		</script>
	</body>
</html>
