---
const platfrom = "github";
const username = "Cry5t4lJ4d3";
---
<style>
    footer {
        background-color: purple;
        display: flex;
        gap: 1rem;
        color: white;
        margin-top:2rem;
    }
</style>

<footer>
    <p>我的github仓库地址 <a href={`https://www.${platfrom}.com/${username}`} target="_blank">{username}的项目仓库</a>，欢迎观看。</p>
</footer>