<div class="center-container">
    <div  class="card animated">
    <span class="cardh1" >CRYSTALJADE</span>
    <p class="text1">欢迎来看我的网站,我是Cry5t4lJ4d3！现在我还没想好要做什么</p>
    <br>
    <p class="text1">随便看看吧</p>
    </div>
</div>